{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}
{% block page_title %}Edit User{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header"><h5>Edit: {{ target_user.get_full_name }}</h5></div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="row g-3">
            {% for field in form %}
            <div class="col-md-6"><label>{{ field.label }}</label>{{ field }}
              {% if field.errors %}<div class="text-danger small">{{ field.errors }}</div>{% endif %}
            </div>
            {% endfor %}
          </div>
          <div class="mt-4">
            <button type="submit" class="btn btn-gold">Save</button>
            <a href="{% url 'user_list' %}" class="btn btn-outline-secondary ms-2">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
